<app-navbar-logged-in></app-navbar-logged-in>
<div id="wrapper">
  <app-side-perfile></app-side-perfile>

  <div id="page-content-wrapper">
    <div class="container-fluid">
        <h1>Your information</h1>
        <div class="container animated fadein">
            <div class="col-xs-12 col-sm-12 col-lg-6  col-md-9">
                <form name="form" (ngSubmit)="f.form.valid && updateInformation()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nameDisplay.valid }">
                        <label for="nameDisplay">Name</label>
                        <input type="text" class="form-control" name="nameDisplay"   [(ngModel)]="model.nameDisplay" #nameDisplay="ngModel" required />
                        <div *ngIf="!nameDisplay.valid" class="alert alert-warning ">Your name is required</div>
                    </div>


                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !surnameDisplay.valid }">
                        <label for="surnameDisplay">Surname</label>
                        <input type="text" class="form-control" name="surnameDisplay" [(ngModel)]="model.surnameDisplay"  #surnameDisplay="ngModel" required />
                        <div *ngIf="!surnameDisplay.valid" class="alert alert-warning ">Your surname is required</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <p><b>{{currentUser.email}}</b></p>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Modify your information</button>
                        <img *ngIf="loading" src="assets/loading.gif" />
                    </div>
            
                
                </form>
                <div *ngIf= "showError" class="alert alert-danger">{{errorMessage}}</div>
                <div *ngIf= "showCorrect" class="alert alert-success">{{errorMessage}}</div>
            </div>    
            </div>
    </div>
</div>

</div>