<div class="jumbotron not-margin">
    <div class="jumbo-container">
        <h1>Remember password</h1>      
    </div>
</div>




<div id="yourdiv" class="container">
        <div class="row">
            <form class="form-signin mg-btm">
            <h3 class="heading-desc">Please, enter your email and we will send you a new password.</h3>
            <div *ngIf= "showError" class="alert alert-danger">{{errorMessage}}</div>
            <div *ngIf= "showCorrect" class="alert alert-success">{{errorMessage}}</div>
            <div class="main">	
                    <form name="form" (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <input type="text" class="form-control" name="email" placeholder="Enter your email" autofocus [(ngModel)]="model.email" #email="ngModel" required />
                                <div *ngIf="f.submitted && !email.valid" class="alert alert-warning ">Email is required</div>
                            </div>
                           
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">Send</button>
                                <img *ngIf="loading" src="assets/loading.gif" />
                            </div>
                        
                        
                        </form>
    
    
            <span class="clearfix"></span>	
            </div>
            <div class="login-footer">
                    <div class="left-section">
                            <a [routerLink]="['/login']" class="btn btn-link">I remember my password</a>
                    </div>
            
            </div>
          </form>
        </div>
    </div>
    


