<nav class="navbar navbar-fixed-left navbar-toggleable-md navbar-inverse bg-inverse bg-faded navbar-fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--<a class="navbar-brand" href="#">
    <img src="#" width="30" height="30" alt="">
  </a>-->
  <a class="navbar-brand"><i class="fa fa-cogs fa-cogs-inner" aria-hidden="true"></i></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item nav-homes">
        <a class="nav-link" (click)="goToHome()">Dashboard</a>
      </li>
      <li class="nav-item nav-settings">
        <a class="nav-link" (click)="goToProfile()">Profile</a>
      </li>
    </ul>

    <a class="padding-icon margin-right-icon my-2 my-lg-0" (click)="logOut()">
      <i class="fa fa-sign-out fa-2x icon-sign-out" aria-hidden="true" title="Log out"></i>
    </a>

  </div>
</nav>