<div class="jumbotron not-margin">
        <div class="jumbo-container">
            <h1>Register</h1>      
        </div>
</div>


<div id="yourdiv" class="container">
        <div class="row">
            <form class="form-signin mg-btm">
            <h3 class="heading-desc">
            Sign up  </h3>

              <div *ngIf= "showError" class="alert alert-danger">{{errorMessage}}</div>

  <div *ngIf= "showCorrect" class="alert alert-success">{{errorMessage}}</div>

  <div *ngIf= "showCorrect" class="final_message">
      <p>This proccess can take some minutes. If you do not receive an email, please click the following button</p>
        <button (click)=resend() class="btn btn-primary margin_bottom">Resend</button>
        <span></span>    
     <div *ngIf= "showError2" class="alert alert-danger">{{errorMessage2}}</div>
     <div *ngIf= "showCorrect2" class="alert alert-success">{{errorMessage2}}</div>
    </div>
            <div class="main">	
                    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <input type="text" class="form-control" name="displayName" placeholder="Enter your first name" autofocus [(ngModel)]="model.displayName" #displayName="ngModel" required />
                                <div *ngIf="f.submitted && !displayName.valid" class="alert alert-warning">First Name is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <input type="text" class="form-control" name="displaySurname" placeholder="Enter your last name" [(ngModel)]="model.displaySurname" #displaySurname="ngModel" required />
                                <div *ngIf="f.submitted && !displaySurname.valid" class="alert alert-warning">Last Name is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <input type="email" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="model.email" #email="ngModel" required />
                                <div *ngIf="f.submitted && !email.valid" class="alert alert-warning">email is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <input type="password" class="form-control" name="password" placeholder="Enter your password"[(ngModel)]="model.password" #password="ngModel" required />
                                <div *ngIf="f.submitted && !password.valid" class="alert alert-warning">Password is required</div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">Register</button>
                                <img *ngIf="loading" src="assets/loading.gif"  />
                            </div>
                        </form>	
                        <span class="clearfix"></span>	
                    </div>
                    <div class="login-footer">
                            <div class="left-section">
                                    <a [routerLink]="['/login']" class="btn btn-link">I am a registered Replan user</a>
                            </div>
                    
                    </div>
            
          </form>
        </div>
    </div>
    

