<app-navbar-logged-in></app-navbar-logged-in>
<div class="container padding">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">  
                <div class="spacing">
                        <ul class="sidebar-nav">
                            <li>
                                <a [routerLink]="['/profile']">About you</a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile/modifyPassword']">Modify Password</a>
                            </li>
                  
                            <li>
                                <a [routerLink]="['/profile/skills']">Skills</a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile/availability']"><b>Availability</b></a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile/otherAccounts']">Other accounts</a>
                            </li>
                        </ul>
                </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
                    <div id="page-content-wrapper">
                            <div class="container-fluid">
                                    <h1>Availability</h1>
                                    <div *ngIf= "carregant">
                                        <img src="assets/loading.gif" />
                                    </div>
                                    <div *ngIf= "!carregant" class="container animated fadein">
                                        <div class="col-xs-12 col-sm-12 col-lg-6  col-md-9">
                                            <form name="form" (ngSubmit)="f.form.valid && updateInformation()" #f="ngForm" novalidate>
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !availability.valid }">
                                                    <label for="availability">Introduce your availability (from 0 to 100%) </label>
                                                    <input type="number" class="form-control" name="availability"   [(ngModel)]="model.availability" #availability="ngModel"  required />
                                                    <div *ngIf="!availability.valid" class="alert alert-warning ">Your availability is required</div>
                                                </div>
                            
                                                <div class="form-group">
                                                    <button [disabled]="loading" class="btn btn-primary">Modify</button>
                                                    <img *ngIf="loading" src="assets/loading.gif" />
                                                </div>
                                        
                                            
                                            </form>
                                            <div *ngIf= "showError" class="alert alert-danger">{{errorMessage}}</div>
                                            <div *ngIf= "showCorrect" class="alert alert-success">{{errorMessage}}</div>
                                       </div>    
                                        </div>
                                </div>
                    </div>
        </div>
    </div>
</div>
