<app-navbar-logged-in></app-navbar-logged-in>
<div class="container padding">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">  
                <div class="spacing">
                        <ul class="sidebar-nav">
                            <li>
                                <a [routerLink]="['/profile']">About you</a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile/modifyPassword']"><b>Modify Password</b></a>
                            </li>
                  
                            <li>
                                <a [routerLink]="['/profile/skills']">Skills</a>
                            </li>
                            <li>
                                    <a [routerLink]="['/profile/availability']">Availability</a>
                                </li>
                            <li>
                                <a [routerLink]="['/profile/otherAccounts']">Other accounts</a>
                            </li>
                        </ul>
                </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
                    <div id="page-content-wrapper">
                            <div class="container-fluid">
                                    <h1>Modify password</h1>
                                    <div class="container animated fadein">
                                        <div class="col-xs-12 col-sm-12 col-lg-6  col-md-9">
                                            <form name="form" (ngSubmit)="f.form.valid && modifyPassword()" #f="ngForm" novalidate>
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !actualPassword.valid }">
                                                    <label for="actualPassword">Actual password</label>
                                                    <input type="password" class="form-control" name="actualPassword" [(ngModel)]="model.actualPassword" #actualPassword="ngModel" required />
                                                    <div *ngIf="f.submitted && !actualPassword.valid" class="alert alert-warning ">Actual password is required</div>
                                                </div>
                            
                            
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword1.valid }">
                                                    <label for="newPassword1">New password</label>
                                                    <input type="password" class="form-control" name="newPassword1" [(ngModel)]="model.newPassword1" #newPassword1="ngModel" required />
                                                    <div *ngIf="f.submitted && !newPassword1.valid" class="alert alert-warning ">New password is required</div>
                                                </div>
                                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword2.valid }">
                                                    <label for="newPassword2">Please, confirm your new password</label>
                                                    <input type="password" class="form-control" name="newPassword2" [(ngModel)]="model.newPassword2" #newPassword2="ngModel" required />
                                                    <div *ngIf="f.submitted && !newPassword2.valid" class="alert alert-warning ">New Password is required</div>
                                                </div>
                                                <div class="form-group">
                                                    <button [disabled]="loading" class="btn btn-primary">Modify password</button>
                                                    <img *ngIf="loading" src="assets/loading.gif" />
                                                </div>
                                        
                                            
                                            </form>
                                            <div *ngIf= "showError" class="alert alert-danger">{{errorMessage}}</div>
                                            <div *ngIf= "showCorrect" class="alert alert-success">{{errorMessage}}</div>
                                        </div>    
                                        </div>
                                </div> 
                    </div>
        </div>
    </div>
</div>
